doctype html
html(lang="ja")
     head
          include _head.pug
          title IT19 
          link(rel="stylesheet", href="css/index.css")
          script(src="js/jquery-3.6.0.min.js") 
          script(src="js/index.js") 
     body 
          header
               h1
                    a(href="") 
                         img(src="img/logo.png", alt="logo") 
               section.nav 
                    ul 
                         li
                              a(href="") 3つの特徴
                         li
                              a(href="") 研修内容
                         li
                              a(href="") 講師紹介
                         li
                              a(href="") 価格設定
                         li
                              a(href="") 対面授業
                         li
                              a(href="") IT19の思い
                         li#document
                              a(href="") 資料請求

          .bg_wrap
               ul.bg_warp_roop
                    li.img_1
                    li.bg_font.bg_font1
                         img(src="img/roop_font.png", alt="")
                    li.img_2
                         img(src="img/AdobeStock_428712663_1920.jpg", alt="bg1")
                    li.triangle.anime_tri1
                         //- .triangle_font
                              h2 Point 1
                              h3 現役技術者による指導 
                              p 
                                   |お腹すいたから唐揚げを食べようと油に火をかけて
                                   br
                                   |片栗粉を準備したが鶏肉がないことに気づいて
                                   br
                                   |すぐにお湯を沸かしてカップラーメンを食べた。
                    li.img_3
                         img(src="img/hand-g3d3430548_1920.jpg", alt="bg2") 
                    li.triangle.anime_tri2
                         //- .triangle_font
                              h2 Point 1
                              h3 現役技術者による指導 
                              p 
                                   |お腹すいたから唐揚げを食べようと油に火をかけて
                                   br
                                   |片栗粉を準備したが鶏肉がないことに気づいて
                                   br
                                   |すぐにお湯を沸かしてカップラーメンを食べた。
                    li.img_4
                         img(src="img/startup-g1c9378819_1920.jpg", alt="bg3")
                    li.triangle.anime_tri3
                         //- .triangle_font
                              h2 Point 1
                              h3 現役技術者による指導 
                              p 
                                   |お腹すいたから唐揚げを食べようと油に火をかけて
                                   br
                                   |片栗粉を準備したが鶏肉がないことに気づいて
                                   br
                                   |すぐにお湯を沸かしてカップラーメンを食べた。
                    li.img_5
                    li.bg_font.bg_font2
                         img(src="img/roop_font.png", alt="")
               .bg_warp_title 
                    h2 新たな人材をIT19から__ 

          main 
               .feature
                    .title
                         h2 ３つの特徴
                         h3 feature
                    .feature_img
                         img(src="img/feature.png", alt="")
               
               .newRecruit
                    h2 研修に関して悩みはありませんか？
                    .newRecruit_flew
                         div
                              p 
                              |研修を実施する
                              br
                              |時間がない
                         div 
                              p すぐに戦力化したい
                         div 
                              p すぐに戦力化したい

               .training
                    .trainingBg
                         h2 研修における悩みを解決する強み
                         h3 ITリテラシー研修
                         p 
                              |対象：新入社員・IT知識の乏しい社員様
                              br
                              |新入社員の全体研修や組織編成後などメインに部署や組織全体の
                              br
                              |リテラシーの底上げを目的とした研修
                         h3 情報システム部署への研修
                         p 
                              |対象：情報システム部署へ所属されている方
                              br
                              |部内のブラッシュアップなどを目的とした研修
                              br
                              |（ネットワーク研修・サーバ研修）
                         img(src="img/training.png", alt="")

               .contents 
                    .title
                         h2 研修内容
                         h3 Contents
                    .contents_intro
                         .content
                              .contentImg.content01
                                   h3 IT研修
                              p 
                                   |講師を派遣して新入社員とIT知識に
                                   br
                                   |乏しい社員へ研修をします。
                                   br
                                   |サンプルテキスト
                                   br
                                   |サンプルテキストサンプルテキスト
                         .content
                              .contentImg.content02
                                   h3 IT研修
                              p 
                                   |講師を派遣して新入社員とIT知識に
                                   br
                                   |乏しい社員へ研修をします。
                                   br
                                   |サンプルテキスト
                                   br
                                   |サンプルテキストサンプルテキスト
                         .content
                              .contentImg.content03
                                   h3 IT研修
                              p 
                                   |講師を派遣して新入社員とIT知識に
                                   br
                                   |乏しい社員へ研修をします。
                                   br
                                   |サンプルテキスト
                                   br
                                   |サンプルテキストサンプルテキスト

               .introductionBg 
                    .teachersBg_item01
                         img(src="img/teacerItem01.png", alt="")
                    .teachersBg_item02
                         img(src="img/teacherItem02.png", alt="")
                    .introduction
                         .title
                              h2 講師紹介
                              h3 introduction
                         .teachersBg 
                              .teachersFlex 
                                   .teachersDetail
                                        .teacherClip
                                             .teachersImg 
                                        .teacherFontBg 
                                             .teacherFont
                                                  h4 ITパスポート担当講師
                                                  h5 山下 貴文
                                                  p お腹すいたから唐揚げを食べようと油に火をかけて片栗粉を準備したが鶏肉がないことに気づいてすぐにお湯を沸かしてカップラーメンを食べました。 
                                   .teachersDetail
                                        .teacherClip
                                             .teachersImg 
                                        .teacherFontBg 
                                             .teacherFont
                                                  h4 ITパスポート担当講師
                                                  h5 山下 貴文
                                                  p お腹すいたから唐揚げを食べようと油に火をかけて片栗粉を準備したが鶏肉がないことに気づいてすぐにお湯を沸かしてカップラーメンを食べました。 
                                   .teachersDetail
                                        .teacherClip
                                             .teachersImg 
                                        .teacherFontBg 
                                             .teacherFont
                                                  h4 ITパスポート担当講師
                                                  h5 山下 貴文
                                                  p お腹すいたから唐揚げを食べようと油に火をかけて片栗粉を準備したが鶏肉がないことに気づいてすぐにお湯を沸かしてカップラーメンを食べました。
                                   .teachersDetail
                                        .teacherClip
                                             .teachersImg 
                                        .teacherFontBg 
                                             .teacherFont
                                                  h4 ITパスポート担当講師
                                                  h5 山下 貴文
                                                  p お腹すいたから唐揚げを食べようと油に火をかけて片栗粉を準備したが鶏肉がないことに気づいてすぐにお湯を沸かしてカップラーメンを食べました。
                                   .teachersDetail
                                        .teacherClip
                                             .teachersImg 
                                        .teacherFontBg 
                                             .teacherFont
                                                  h4 ITパスポート担当講師
                                                  h5 山下 貴文
                                                  p お腹すいたから唐揚げを食べようと油に火をかけて片栗粉を準備したが鶏肉がないことに気づいてすぐにお湯を沸かしてカップラーメンを食べました。
                                   .teachersDetail
                                        .teacherClip
                                             .teachersImg 
                                        .teacherFontBg 
                                             .teacherFont
                                                  h4 ITパスポート担当講師
                                                  h5 山下 貴文
                                                  p お腹すいたから唐揚げを食べようと油に火をかけて片栗粉を準備したが鶏肉がないことに気づいてすぐにお湯を沸かしてカップラーメンを食べました。 
                         a.introBtc(href="") 詳しく見る

               .price 
                    .title
                         h2 価格設定
                         h3 price
                    .plans 
                         .plans_flex
                              .plansPrice 
                                   h4 〇〇〇〇
                                        span 円 
                              .plansName 
                                   h5 〇〇プラン
                                   p Enterprise
                    .plans 
                         .plans_flex
                              .plansPrice 
                                   h4 〇〇〇〇
                                        span 円 
                              .plansName 
                                   h5 〇〇プラン
                                   p Enterprise
                    .plans 
                         .plans_flex
                              .plansPrice 
                                   h4 〇〇〇〇
                                        span 円 
                              .plansName 
                                   h5 〇〇プラン
                                   p Enterprise

               .place
                    .title
                         h2 授業場所
                         h3 place
                    .place_flex 
                         .placeImg 
                              img(src="img/place01.png", alt="") 
                         .placeDetail
                              h4 訪問研修・リモート研修可能 
                              p 詳しくはお問い合わせください 
                    .place_flex 
                         .placeImg 
                              img(src="img/place02.png", alt="") 
                         .placeDetail02
                              h4 東京都港区新橋2-16-1 ニュー新橋ビル　701
                              p 
                                   |JR・地下鉄銀座線・浅草線新橋駅
                                   br
                                   |日比谷口・鳥森口より徒歩１分
                    .place_flex 
                         .placeImg 
                              img(src="img/place02.png", alt="") 
                         .placeDetail02
                              h4 東京都港区新橋2-16-1 ニュー新橋ビル　701
                              p 
                                   |JR・地下鉄銀座線・浅草線新橋駅
                                   br
                                   |日比谷口・鳥森口より徒歩１分
                    .place_flex 
                         .placeImg 
                              img(src="img/place02.png", alt="") 
                         .placeDetail02
                              h4 東京都港区新橋2-16-1 ニュー新橋ビル　701
                              p 
                                   |JR・地下鉄銀座線・浅草線新橋駅
                                   br
                                   |日比谷口・鳥森口より徒歩１分
                    .place_flex 
                         .placeImg 
                              img(src="img/place02.png", alt="") 
                         .placeDetail02
                              h4 東京都港区新橋2-16-1 ニュー新橋ビル　701
                              p 
                                   |JR・地下鉄銀座線・浅草線新橋駅
                                   br
                                   |日比谷口・鳥森口より徒歩１分 

               .thought
                    .thoughtLine01.line
                         img(src="img/line1.png", alt="")
                    .thoughtLine02.line
                         img(src="img/line2.png", alt="")
                    .thoughtLine03.line
                         img(src="img/line3.png", alt="")
                    .thoughtLine04.line
                         img(src="img/line4.png", alt="")
                    .title
                         h2 IT19への思い
                         h3 thought
                    .thoughtFont 
                         p 玉城デニー知事は５日、新型コロナウイルスの感染急拡大を受け、「まん延防止等重点措置」の適用を６日に政府へ要請する考えを記者団に明らかにした。県の意向を受け、政府は沖縄の重点措置の適用を７日に決定する方向で調整に入った。県は５日開催した県経済団体会議で、本島全域と宮古島市を対象に飲食店への営業時間の短縮要請、県境をまたぐ移動の自粛などを要請する対応方針の強化案を示した。
                         p 玉城デニー知事は５日、新型コロナウイルスの感染急拡大を受け、「まん延防止等重点措置」の適用を６日に政府へ要請する考えを記者団に明らかにした。県の意向を受け、政府は沖縄の重点措置の適用を７日に決定する方向で調整に入った。県は５日開催した県経済団体会議で、本島全域と宮古島市を対象に飲食店への営業時間の短縮要請、県境をまたぐ移動の自粛などを要請する対応方針の強化案を示した。
                         p 玉城デニー知事は５日、新型コロナウイルスの感染急拡大を受け、「まん延防止等重点措置」の適用を６日に政府へ要請する考えを記者団に明らかにした。県の意向を受け、政府は沖縄の重点措置の適用を７日に決定する方向で調整に入った。県は５日開催した県経済団体会議で、本島全域と宮古島市を対象に飲食店への営業時間の短縮要請、県境をまたぐ移動の自粛などを要請する対応方針の強化案を示した。

               .contact
                    form(action="") 
                         h2 お問い合わせ
                         .phone 
                              h3 電話からのお問い合わせも受け付けてます
                              p 000-1234-5678
                         .company
                              label(for="") 企業名
                              input(type="text")
                         .name
                              label(for="") 名前
                              input(type="text")
                         .mail 
                              label(for="") メールアドレス
                              input(type="text")
                         .contactType 
                              label(for="") お問い合わせ種類
                              input(type="text")
                         .contactAbout
                              label(for="") お問い合わせ内容
                              textarea(name="") 
                         input.btn(type="button", value="送信")

                    .footerNav 
                         .footerNav_flex
                              ul 
                                   li: a(href="") 3つの特徴
                                   li: a(href="") 講師紹介
                                   li: a(href="") 価格設定
                                   li: a(href="") 授業内容
                                   li: a(href="") IT19の思い
                              a(href=""): img(src="img/logo.png", alt="logo")
                         img.ig(src="img/ig.png", alt="ig")
                    
               footer 
                    p SOFTAS&copy;copyright



                              
               
                         