doctype html
html(lang="ja")
     head
          include _head.pug
          title IT19 
          link(rel="stylesheet", href="css/index.css")
          script(src="js/jquery-3.6.0.min.js") 
          script(src="js/index.js") 
     body 
          header
               h1
                    a(href="") 
                         img(src="img/logo.png", alt="logo") 
               section.nav 
                    ul 
                         li
                              a(href="") 3つの特徴
                         li
                              a(href="") 研修内容
                         li
                              a(href="") 講師紹介
                         li
                              a(href="") 価格設定
                         li
                              a(href="") 対面授業
                         li
                              a(href="") IT19の思い
                         li#document
                              a(href="") 資料請求

          .bg_wrap
               ul.bg_warp_roop
                    li.img_1
                    li.bg_font.bg_font1
                         img(src="img/roop_font.png", alt="")
                    li.img_2
                         img(src="img/AdobeStock_428712663_1920.jpg", alt="bg1")
                    li.triangle.anime_tri1
                         //- .triangle_font
                              h2 Point 1
                              h3 現役技術者による指導 
                              p 
                                   |お腹すいたから唐揚げを食べようと油に火をかけて
                                   br
                                   |片栗粉を準備したが鶏肉がないことに気づいて
                                   br
                                   |すぐにお湯を沸かしてカップラーメンを食べた。
                    li.img_3
                         img(src="img/hand-g3d3430548_1920.jpg", alt="bg2") 
                    li.triangle.anime_tri2
                         //- .triangle_font
                              h2 Point 1
                              h3 現役技術者による指導 
                              p 
                                   |お腹すいたから唐揚げを食べようと油に火をかけて
                                   br
                                   |片栗粉を準備したが鶏肉がないことに気づいて
                                   br
                                   |すぐにお湯を沸かしてカップラーメンを食べた。
                    li.img_4
                         img(src="img/startup-g1c9378819_1920.jpg", alt="bg3")
                    li.triangle.anime_tri3
                         //- .triangle_font
                              h2 Point 1
                              h3 現役技術者による指導 
                              p 
                                   |お腹すいたから唐揚げを食べようと油に火をかけて
                                   br
                                   |片栗粉を準備したが鶏肉がないことに気づいて
                                   br
                                   |すぐにお湯を沸かしてカップラーメンを食べた。
                    li.img_5
                    li.bg_font.bg_font2
                         img(src="img/roop_font.png", alt="")
               .bg_warp_title 
                    h2 新たな人材をIT19から__ 

          main 
               .feature
                    .title
                         h2 ３つの特徴
                         h3 feature
                    .feature_img
                         img(src="img/feature.png", alt="")
               
               .newRecruit
                    h2 研修に関して悩みはありませんか？
                    .newRecruit_flew
                         div
                              p 
                              |研修を実施する
                              br
                              |時間がない
                         div 
                              p すぐに戦力化したい
                         div 
                              p すぐに戦力化したい

               .training
                    .trainingBg
                         h2 研修における悩みを解決する強み
                         h3 ITリテラシー研修
                         p 
                              |対象：新入社員・IT知識の乏しい社員様
                              br
                              |新入社員の全体研修や組織編成後などメインに部署や組織全体の
                              br
                              |リテラシーの底上げを目的とした研修
                         h3 情報システム部署への研修
                         p 
                              |対象：情報システム部署へ所属されている方
                              br
                              |部内のブラッシュアップなどを目的とした研修
                              br
                              |（ネットワーク研修・サーバ研修）
                         img(src="img/training.png", alt="")

               .contents 
                    .title
                         h2 研修内容
                         h3 Contents
                    .contents_intro
                         .content
                              .contentImg.content01
                                   h3 IT研修
                              p 
                                   |講師を派遣して新入社員とIT知識に
                                   br
                                   |乏しい社員へ研修をします。
                                   br
                                   |サンプルテキスト
                                   br
                                   |サンプルテキストサンプルテキスト
                         .content
                              .contentImg.content02
                                   h3 IT研修
                              p 
                                   |講師を派遣して新入社員とIT知識に
                                   br
                                   |乏しい社員へ研修をします。
                                   br
                                   |サンプルテキスト
                                   br
                                   |サンプルテキストサンプルテキスト
                         .content
                              .contentImg.content03
                                   h3 IT研修
                              p 
                                   |講師を派遣して新入社員とIT知識に
                                   br
                                   |乏しい社員へ研修をします。
                                   br
                                   |サンプルテキスト
                                   br
                                   |サンプルテキストサンプルテキスト
                                   
               .introduction
                    .title
                         h2 講師紹介
                         h3 introduction
                    .teachers 



                              



                
                         